* {
    margin: 0;
    padding: 0;
    font-family: Montserrat, serif;
}
body {
    background-color: #F8F7F9;
}
/* Стили для Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #d8dbe2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.loginButton {
    font-size: 16px;
    cursor: pointer;
    background-color: #32746d;
    height: 40px;
    border: none;
    color: white;
    width: 80px;
    border-radius: 4px;

}
.loginButton:hover{
    background-color: #1ea665;
}

/* Стили для модального окна */
.modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    width: 500px;
}
.input-field {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form button{
    background-color: #32746d;
    color: white;
    border: none;
    border-radius: 4px;
    width: 200px;
    font-size: 16px;
    height: 30px;
    margin-top: 5px;
    cursor: pointer;
}
form button:hover {
    background-color: #1ea665;
}
.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: #c33c54;
    border: none;
    border-radius: 2px;
    font-weight: bold;
    font-size: 16px;
    color: white;
}
.closeButton:hover{
    background-color: #dc7182;
}
/* Стили для контента страницы */
.content {

}
/* Стили для карточки личных настроек */
.settingsCard {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 20px auto;
}

.settingsCard h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.avatar-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}
.saveChanges{
    background-color: #78c0e0;
    border: none;
    border-radius: 4px;
    height: 40px;
    width: 50%;
    color: white;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}
.saveChanges:hover{
    background-color: #449DD1;
}
.exitSettings{
    background-color: #c33c54;
    border: none;
    border-radius: 4px;
    height: 40px;
    width: 30%;
    color: white;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}
.exitSettings:hover{
    background-color: #dc7182;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
button:disabled:hover {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Дополнительные стили */

span {
    color: blue;
    cursor: pointer;
}
